* {
  margin: 0;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleCatalog {
  color: rgba(79, 79, 79, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 21.19px;
  width: 1350px;
  margin: 75px auto 30px;
}

.containerCard {
  display: flex;
  gap: 30px;
  width: 1350px;
}

.card {
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  background-color: white;
}

.titleCard {
  margin-top: 15px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.63px;
}

.btnCard {
  background: rgba(63, 207, 94, 1);
  color: white;
  margin-top: 50px;
  border: none;
  width: 161px;
  height: 45px;
  border-radius: 5px;
}
